<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styledetail.css">
</head>
<body>
    <div class="container">
        <h1 class="detail">User Detail</h1>

        <div class="main">
            <div class="name" name="name">
                <h1>Name:=</h1>
            </div> 
    
            <div class="Id" name="Id">
                <h1>Id:=</h1>
            </div>
    
            <div class="photo">Image</div>
        </div>
        <div class="detail">Past History</div>
        <div class="user-detail">
        </div>
        <input type="text" class="text">
        <button class="btn">Add</button>
    </div>
    <script src="logic1.js"></script>
</body>
</html>