<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="detail.css">
</head>
<body>
    <div class="container">
        <div class="part1">
            <div class="photo"></div>
            <div class="name" name="name">Name=</div>
            <div class="Id" name="Id">Id=</div>
            <div class="sex" name="sex">sex=</div>
        </div>

        <div class="part2">
            <div class="pastdetail">previous History</div>
            <div class="list">
                
            </div>
            <input type="text" class="text">
            <button class="btn">Add</button>
        </div>

    </div>
    <script src="detaillogic.js"></script>
</body>
</html>