<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style2.css">
    <script src="script.js"></script>
</head>

<body>
    <div class="wrapper">


        <div class="top_navbar">
            <div class="hamburger">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <div class="top_menu">
                <div class="logo">
                    User Interface
                </div>
                <ul>
                    <li><a href="#">
                            <i class="fas fa-search"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="fas fa-bell"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="fas fa-user"></i>
                        </a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li><a href="#">
                        <span class="icon">
                        <span class="title">Details</span>
                    </a></li>
                <li><a href="#">
                        <span class="title">Update Detail</span>
                    </a></li>
                <li><a href="#">
                        <span class="icon">
                        <span class="title">Test report</span>
                    </a></li>
            </ul>
        </div>
<script src="userdashboard.js"></script>
</body>

</html>