<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
     
     
    <div class="main">
        <div class="page1">
            <div class="circle"></div>
        <div class="nav">
            <a hrf="#">support</a>
            <a hrf="#">contact</a>
            <a hrf="#">Login</a>
            <a hrf="#">registration</a>
        </div>

        <div class="intro">
            <h1 class="tag">Empowering Care, One Click at a Time.</h1>
            <h5 class="sub">This app revolutionizes patient   management <br> by  providing intuitive tools for healthcare to professionals  to streamline workflows, enhance <br> communication, and ensure seamless care coordination, resulting in improved patient outcomes and satisfaction.</h5>
            </h5>
        </div>
        <div class="small-cont">
            <h3>2021-26</h3>
            <h4>Best in klas</h4>
            <div class="rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
            </div>
            <div class="text-side">
               <h4> for Clinical Decision Support - care plans and order set</h4>
            </div>
        </div>
            <div class="part1"></div>
    </div>

<div class="page2">
    <h1>About</h1>
    <div class="text">
        <div class="parts3">

            <h5>Introducing our comprehensive health management platform designed to streamline the patient-doctor experience. Our user-friendly web application empowers individuals to book appointments with ease while providing access to their detailed health information.</h5>
            <h5>Users can conveniently schedule appointments with their preferred healthcare providers through our intuitive interface. Once booked, they can seamlessly access their health details, including medical history, test results, and treatment plans, all in one centralized location. Our platform ensures that users have the necessary information at their fingertips to make informed decisions about their health and well-being.</h5>
            <h5>For healthcare professionals, our app offers robust features to enhance patient care. Doctors can effortlessly update patient records, including vital signs, prescriptions, and notes from consultations. Moreover, our platform facilitates collaboration among healthcare providers, allowing doctors to securely share patient information and coordinate care plans with specialists or other members of the care team. This ensures continuity of care and improves patient outcomes by fostering a cohesive approach to healthcare delivery.
            </h5>
            <h5>With our app, both users and doctors benefit from streamlined communication and enhanced efficiency. Patients feel empowered with access to their health data, while doctors can provide personalized care and collaborate effectively with colleagues. Together, we're revolutionizing healthcare delivery, one appointment and health detail at a time</h5>
        
        </div>
        <div class="parts4">
            <img  class="photo" src="about-us-image.png">
        </div>
    </div>

</div>
    <div class="container2">
       
        <div class="div1">
            <div class="parts1">
                <img class="doc" src="photo-1532938911079-1b06ac7ceec7.avif">
            </div>
            <div class="parts2">
                <h1 class="tag">Your Health, Your Time: Simplify with Smart Appointments.</h1>
            <h5 class="sub">Effortlessly book appointments with our web app. Streamlined interface, personalized scheduling, and real-time availability updates ensure convenience and efficiency in managing your healthcare appointments, all at your fingertips.</h5>
            </div>
        </div>
        </div>
        <div class="container3">
            <div class="div2">
                <div class="parts2">
                    <h1 class="tag">Health Detail: Your Personalized Path to Wellness.</h1>
                <h5 class="sub">Health Detail is your go-to web app for comprehensive health tracking. Seamlessly monitor vital signs, track progress, and gain valuable insights for a proactive approach to your well-being.</h5>
                </div>

                <div class="parts1">
                    <img class="doc" src="Medical-Summary-Report.webp">
                           </div>
            </div>

        </div>
        <div id="page5">
            <h4>What We Do</h4>
            <div class="line"></div>
            <div class="container">
                <div class="left">
                    <h1>Our Approach to Give <br> Reliable  Solution</h1>
                    <h3>We develop evidence-based solutions to guide <br> practitioners in making informed care decisions <br> shown to positively impact patient outcomes.</h3>
                    <div class="text-container-1">
                        <div class="top">
                        <div class="imge-text">
                            <img alt="wwd icon 01" data-src="https://www.zynxhealth.com/wp-content/uploads/2023/07/wwd-icon-01.svg" class=" lazyloaded" src="https://www.zynxhealth.com/wp-content/uploads/2023/07/wwd-icon-01.svg" loading="lazy">
                            <h2>Our Expertise</h2>
                        </div>
                            <i class="ri-arrow-up-s-line"></i>
                        </div>
                        <p>Profound Medical Knowledge honed throw rigorous <br> education and experience .Exceptional diagnostic <br> abilities adept at identifying illness accurately clear <br> and effective communication with patient </p>
                    </div>
                    <div class="text-container-2">
                        <div class="top">
                        <div class="imge-text">
                            <img alt="wwd icon 02" data-src="https://www.zynxhealth.com/wp-content/uploads/2023/07/wwd-icon-02.svg" class=" lazyloaded" src="https://www.zynxhealth.com/wp-content/uploads/2023/07/wwd-icon-02.svg" loading="lazy">
                    <h2>Trusted ,Unbiased Support</h2>
                        </div>
                        <i class="ri-arrow-down-s-line"></i>
                        </div>
                        <p>Profound Medical Knowledge honed throw rigorous <br> education and experience .Exceptional diagnostic <br> abilities adept at identifying illness accurately clear <br> and effective communication with patient </p>
                    </div>
                </div>
                <div class="right">
                    <div class="form-container">
                    
                    <form action="">
                        <h2>Book Now</h2>
                        <input class="name" type="text" placeholder="Name" value="name">
                        <input class="address" type="text" placeholder="Address" value="address">
                        <input class="phone" type="text" placeholder="phone No" value="phone">
                        <input class="submit" type="submit" value="book Appointment" >
                    </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      

          <script src="/javascripts/login.js"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     
>>>>>>> 1bdeb2538f320f714547f6bd64ee7021f6abc09c
</body>
</html>