<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
     <div id="main">
        <div id="page2">
            <h4>What We Do</h4>
            <div class="line"></div>
            <div class="container">
                <div class="left">
                    <h1>Our Approach to Give <br> Reliable  Solution</h1>
                    <h3>We develop evidence-based solutions to guide <br> practitioners in making informed care decisions <br> shown to positively impact patient outcomes.</h3>
                    <div class="text-container-1">
                        <div class="top">
                          <div class="imge-text">
                            <img alt="wwd icon 01" data-src="https://www.zynxhealth.com/wp-content/uploads/2023/07/wwd-icon-01.svg" class=" lazyloaded" src="https://www.zynxhealth.com/wp-content/uploads/2023/07/wwd-icon-01.svg" loading="lazy">
                            <h2>Our Expertise</h2>
                          </div>
                            <i class="ri-arrow-up-s-line"></i>
                        </div>
                        <p>Profound Medical Knowledge honed throw rigorous <br> education and experience .Exceptional diagnostic <br> abilities adept at identifying illness accurately clear <br> and effective communication with patient </p>
                    </div>
                    <div class="text-container-2">
                        <div class="top">
                          <div class="imge-text">
                            <img alt="wwd icon 02" data-src="https://www.zynxhealth.com/wp-content/uploads/2023/07/wwd-icon-02.svg" class=" lazyloaded" src="https://www.zynxhealth.com/wp-content/uploads/2023/07/wwd-icon-02.svg" loading="lazy">
                    <h2>Trusted ,Unbiased Support</h2>
                          </div>
                          <i class="ri-arrow-down-s-line"></i>
                        </div>
                        <p>Profound Medical Knowledge honed throw rigorous <br> education and experience .Exceptional diagnostic <br> abilities adept at identifying illness accurately clear <br> and effective communication with patient </p>
                    </div>
                </div>
                <div class="right">
                    <div class="form-container">
                       <form action="/logedin" method="post">
                        <h2>Book Now</h2>
                        <input class="name" type="text" placeholder="Username" name="username">
                        <input class="address" type="password" placeholder="password" name="password">
                        <input class="phone" type="text" placeholder="Patient Id" name="patientid">
                        <!-- <h2 class="text-red"><%= wrong %></h2> -->
                        <input class="submit" type="submit" value="View Details" >
                       </form>
                    </div>
                </div>
            </div>
        </div>
     </div>
      
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="/javascripts/login.js"></script>
</body>
</html>
