*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(146, 140, 140);
}

.detail{
    text-align: center;
    font-size: 10vh;
    padding-top: 5vh;
}
.name,.Id{
    padding: 2vw;
    width: 50vh;
}

.photo{
    height: 40vh;
    width: 30vh;
    background-color: blue;
    margin-left: 80vw;
    margin-top: -35vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-detail{
    text-align: center;
    font-size: 5vh;
    padding-top: 1vh;
    width: 100vw;
}

.text{
    margin-top: 2vh;
    height: 5vh;
    margin-left: 10vw;
    width:80vw;
    font-size: 3vh;
}

.btn{
    height:5vh;
    width: 5vw;
    font-size: 2vh;
}